# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environments
.venv/
venv/
